<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331425930183-2sh5rf760oj3gkp77rfqddu1jfss513t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331425930183-2sh5rf760oj3gkp77rfqddu1jfss513t</string>
	<key>API_KEY</key>
	<string>AIzaSyCOtfJTvC0D9Obj8xyefW_ipe9geEJJQWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>331425930183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>company.privateaero.fdsma.rider.ios</string>
	<key>PROJECT_ID</key>
	<string>fdsma-7g6jig</string>
	<key>STORAGE_BUCKET</key>
	<string>fdsma-7g6jig.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331425930183:ios:ea85d9f19af069e4b1d7e2</string>
</dict>
</plist>